<div class="main">
  <div class="container">
    <div class="simbolo">
      <img src="../assets/simbolo.svg" alt="simbolo move.io" />
    </div>
    <div class="container-login">
      <div class="login">
        <img src="../assets/logo.svg" alt="Move.io" />
        <nav class="text-input">
          <h1>Bem-vindo</h1>
          <div class="legenda">
            <mat-icon>person</mat-icon>
            <p>Faça login com seu GitHub para começar</p>
          </div>
          <nav class="input-button">
            <mat-form-field appearance="fill">
              <mat-label>Digite seu username</mat-label>
              <input matInput type="text" />
            </mat-form-field>
            <button mat-raised-button color="primary">
              <mat-icon> arrow_forward </mat-icon>
            </button>
          </nav>
        </nav>
      </div>
    </div>
  </div>
</div>
